@use './variables' as *;

@mixin container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding-left: $container-padding-desktop;
  padding-right: $container-padding-desktop;

  @media (max-width: $breakpoint-md) {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }
}
